<?xml version="1.0"?>
<Server xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>GameServer</Name>
  <Code>0</Code>
  <Show>1</Show>
  <Lang>es</Lang>
  <AutoRegister>true</AutoRegister>
  <Season>Season16Kor</Season>
  <Connection>
    <IP>0.0.0.0</IP>
    <IPPublic>127.0.0.1</IPPublic>
    <Port>55901</Port>
    <ConnectServerIP>127.0.0.1</ConnectServerIP>
    <APIKey>2020110116</APIKey>
  </Connection>
  <Database>
    <DBIp>127.0.0.1</DBIp>
    <DataBase>MuOnline</DataBase>
    <BDUser>root</BDUser>
    <DBPassword>CHANGE_ME_MYSQL_ROOT_PASSWORD</DBPassword>
  </Database>
  <Client>
    <Version>11946</Version>
    <Serial>fughy683dfu7teqg</Serial>
    <CashShopVersion>512.2014.124</CashShopVersion>
  </Client>
  <GamePlay>
    <Experience>10</Experience>
    <GoldExperience>10</GoldExperience>
    <Zen>10</Zen>
    <DropRate>60</DropRate>
    <MaxPartyLevelDifference>400</MaxPartyLevelDifference>
    <PVP>false</PVP>
  </GamePlay>
  <Files>
    <DataRoot>./Data/</DataRoot>
    <Monsters>Monsters/Monster</Monsters>
    <MonsterSetBase>Monsters/MonsterSetBase</MonsterSetBase>
    <SelupanPatterns>Monsters/PatternSelupan.xml</SelupanPatterns>
    <MapServer>MapServer.xml</MapServer>
    <MayaLeftHandPatterns>./Data/Monsters/PatternMayaLeftHand.xml</MayaLeftHandPatterns>
    <MayaRightHandPatterns>./Data/Monsters/PatternMayaRightHand.xml</MayaRightHandPatterns>
    <NightmarePatterns>./Data/Monsters/PatternNightmare.xml</NightmarePatterns>
    <QuestWorld>QuestWorld/</QuestWorld>
    <MGMuRummy>./Data/MiniGames/MuRummy.xml</MGMuRummy>
    <MGFindBombs>./Data/MiniGames/FindBombs.xml</MGFindBombs>
    <MGJewelBingo>./Data/MiniGames/JewelBingo.xml</MGJewelBingo>
    <MGBallsAndCows>./Data/MiniGames/BallsAndCows.xml</MGBallsAndCows>
  </Files>
</Server>